// USER VARIABLES SECTION

$accent: #05168B; // Accent Color05168B
$fontsize: 16px; // Body Font Size
$textcolor: #161616; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: "Montserrat", sans-serif; // User Font Family
$secondfont: "Gotham Pro", sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 3rem;
$gutter: $grid-gutter-width;
