@mixin img-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@mixin img-contain {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@mixin hover-slider-btn {
    transform: scale(1);
    transition: transform 300ms;
    &:hover {
      transform: scale(1.2);
    }
}
